﻿body {
    padding-top: 50px;
   
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.navbar-brand
{
font-size:30px;
}


.navbar-default .navbar-nav > li > a {
 font-size:20px;
}

.navbar-left
{
    border:1px solid black;

}

.footer
{
   color: #ffffff;
  
   
}

.footer p
{
    margin-left: 7%;
}