﻿@model IEnumerable<CSharpUniversity.DAL.EF.Letter_Points>

@{
    ViewBag.Title = "Letter Points";
}

@Html.Partial("_SettingsLinksPartial")

<h2>3. Letter and Point Values</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Min)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Max)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Letter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Points)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Min)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Max)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Letter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Points)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LetterPointsId }) |
           
            @Html.ActionLink("Delete", "Delete", new { id=item.LetterPointsId })
        </td>
    </tr>
}

</table>
