﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("C# University", "Index", "Home", null, new { @class = "navbar-brand" })

                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Dashboard", "Index", "Home")</li>
                    <li><a href="/Grades">Grades <span class="badge">3</span></a></li>
                    <li>@Html.ActionLink("Report", "Report", "Home")</li>
                    <li>@Html.ActionLink("Student", "Index", "Students")</li>
                    <li>@Html.ActionLink("Settings", "Index", "Settings")</i></li>
                    <li><a href="">@DateTime.Now.ToLongDateString() </a> </li>
                </ul>
              
           </div>

         </div>
  </div>
    
    <div class="container body-content">
       
         @RenderBody()
       
       
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <footer class="navbar-default footer">
        <p>&copy; @DateTime.Now.Year - C# University<p>  <i class="col-md-push-2"> Where the Sharp People Go to Learn C#!</i> 
    </footer>
</body>
</html>
