﻿@model IEnumerable<CSharpUniversity.DAL.EF.Term_Period>

@{
    ViewBag.Title = "Term Period";
}


@Html.Partial("_SettingsLinksPartial")

<h2>1.Term Period</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.End)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Week }) |
            
            @Html.ActionLink("Delete", "Delete", new { id=item.Week })
        </td>
    </tr>
}

</table>
