﻿@model IEnumerable<CSharpUniversity.DAL.EF.Activity>

@{
    ViewBag.Title = "Activities";
}

@Html.Partial("_SettingsLinksPartial")

<h2>4. Activities for the Term </h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activity_Types.Type)
        </th>
        <th></th>
    </tr>

  

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activity_Types.Type)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ActivityId }) 
           
            @*Has foreign key constraints which won't allow to be deleted if assigned those constraints*@
            @*@Html.ActionLink("Delete", "Delete", new { id=item.TypeId })*@
        </td>
    </tr>
}

</table>
