﻿@model IEnumerable<CSharpUniversity.DAL.EF.Weekly_Activity>

@{
    ViewBag.Title = "Weekly Activities";
}

@Html.Partial("_SettingsLinksPartial")

<h2>5. Weekly Activities</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    <div class="col-md-4">
        <table class="table table-bordered table-hover">

            @foreach (var group in Model.GroupBy(x => x.Term_Period.Week))
            {
                <tr>
                    <th class="success">
                        <b>Week @group.Key </b>
                    </th>

                </tr>

                foreach (var item in group)
                {
                    <tr>
                        <td>
                            <div class="col-md-4">
                                @Html.DisplayFor(modelItem => item.Activity.Name)
                            </div>

                            <div class="col-md-4 col-md-offset-2">
                                @Html.ActionLink("Edit", "Edit", new { id = item.WeeklyActivityId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.WeeklyActivityId })
                            </div>
                        </td>


                    </tr>
                }
            }
        </table>
    </div>
</div>