﻿@model IEnumerable<CSharpUniversity.DAL.EF.Activity_Types>

@{
    ViewBag.Title = "Activity Types";
}

@Html.Partial("_SettingsLinksPartial")

<h2>2. Activity Types</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TypeId }) 
           

            @*Has foreign key constraints which won't allow to be deleted if assigned those constraints*@
            @*@Html.ActionLink("Delete", "Delete", new { id=item.TypeId })*@
        </td>
    </tr>
}

</table>
